# Week 3 Code Examples

## New Lines

Two Ways to create new lines.

In [1]:
##OPTION 1

print("The lazy brown dog.")
print( )
print("Jumped over the fence.")

The lazy brown dog.

Jumped over the fence.

In [2]:
##OPTION 2

print("The lazy brown dog.\nJumped over the fence.")

The lazy brown dog.
Jumped over the fence.

## Print Examples

In [3]:
#Example 1: Print with 1 string argument

print("Hello, World!")

Hello, World!

In [4]:
#Example 2: Print with 3 string arguments all on 1 line.
#The print function puts a space between each argument on its own.

print("The itsy bitsy spider", "climbed up", "the water spout.")

The itsy bitsy spider climbed up the water spout.

In [5]:
#Example 3: Printing 2 lines

print("The lazy brown dog.")
print("Jumped over the fence.")

The lazy brown dog.
Jumped over the fence.

In [6]:
#Example 4: Printing 2 lines with new line in between

print("The lazy brown dog.")
print( )
print("Jumped over the fence.")

The lazy brown dog.

Jumped over the fence.

## Escape (Backslash)

In [7]:
#Example 1: Easy to read version.

print('Hello' + '\n' + 'Next Line' + '\n' + '\t' + 'New Line and Tabbed Over')

Hello
Next Line
	New Line and Tabbed Over

In [8]:
#Example 2: Hard to read version

print('Hello\nNext Line\n\tNew Line and Tabbed Over')

Hello
Next Line
	New Line and Tabbed Over

In [9]:
#Example 3: Escape single quote

print('Say Hi to Bob\'s mother.')

Say Hi to Bob's mother.

## End Keyword

In [10]:
##Example 1: Without end.

print('Hello')
print('People')

Hello
People

In [11]:
#Example 2: With end means leave the cursor on the same line

print('Hello', end=' ')
print('People')

Hello People

In [12]:
#Example 3: End with newline command means print newline

print('Hello', end='\n')
print('People')

Hello
People

## Sep Keyword

In [13]:
#Example 1: Print without sep

print('ham', 'eggs', 'toast')

ham eggs toast

In [14]:
#Example 2: Put a & between values

print('ham', 'eggs', 'toast', sep='&')

ham&eggs&toast

In [15]:
#Example 3: With both end and sep

print('Peter', 'Bill', 'Moly', sep=' & ',end='*')

Peter & Bill & Moly*